html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.contenedor {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("tierra.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding: 70px 50px;
    gap: 40px;
    border-radius: 10px;
    height: 270px;
}

a {
    text-decoration: none; 
    color: white;
}

.version {
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 2px #000000;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border: 3px solid #72ad4b;
    border-radius: 10px;
    background-color: #92c95b;
    width: 50%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.version:hover {
    background-color: #72ad4b;
    cursor: pointer;
    transform: scale(1.05);

}

/* RESPONSIVE para móviles en horizontal */
@media (max-width: 900px) and (orientation: landscape) {

    h2 {
        font-size: 28px;
        margin: 10px 0;
        text-align: center;
        justify-content: center;
    }

    .contenedor {
        width: 80%;
        height: auto;
        padding: 30px 20px;
        gap: 20px;
        background-size: contain;
        margin: auto;
    }

    .version {
        width: 70%;
        font-size: 12px;
        padding: 10px;
    }

    body {
        justify-content: flex-start;
        align-items: center;
        background-size: cover;
        background-position: center;
        padding-top: 20px;
    }
}
